body{
  font-family: 'Open Sans', sans-serif !important;
}

.twenty {
  display: block;
  width: 21%;
  margin: 0 auto;
}

.ninety-five {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.form-horizontal{
    display:block;
    width:25%;
    margin:0 auto;
}

.chart-container {
    height:400px
}

.usage-font{
    font-size:20px;
    font-weight: bold;
}

.height-300{
  height:300px;
}

.height-200{
  height:150px;
}

.icon-size{
  font-size: 40px !important;
}
.col-05 {
    flex: 0 0 auto;
    width: 4.16666666%;
}
